.booking-form{
    background-color: white;
    border-radius: 5px;
    color: #818181;
    font-size: 13px;
    width: 430px;
}

.form-control{
    border-radius: 0;
}
.booking-form .form-control{
    font-size: 15px;
    font-weight: 800;
}