.navbar .form-control, .nav-link, .btn{
    font-size: 13px!important;
}
.navblack .nav-link{
    color: #ffff!important;
}
.banner{
    background-image: url('../../../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
.navbar .form-control{
    opacity: 0.6;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.342);
    border: 1px solid white!important;
}
.navbar .form-control::placeholder {
    color: white;
  }
.btn{
    font-weight: 500;
}
@media only screen and (max-width: 991px){
    .navblack .nav-link {
        margin-left: 0!important;
    }
    .nav-item {
        margin-left: 0!important;
    }
}
@media only screen and (max-width: 280px){
    .navbar-brand{
        width: 50%!important;
    }
}